<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Xuborx Framework</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    {% endblock %}
</head>
<body>